<!--Jquery js-->
        <script src="/static/js/jquery.min.js"></script>
        <!--Bootstrap js-->
        <script src="/static/js/bootstrap.min.js"></script>
        <!--Stellar js-->
        <script src="/static/js/jquery.stellar.js"></script>
        <!--Animated Headline js-->
        <script src="/static/js/animated.headline.js"></script>
        <!--Owl Carousel js-->
        <script src="/static/js/owl.carousel.min.js"></script>
        <!--ScrollIt js-->
        <script src="/static/js/scrollIt.min.js"></script>
        <!--Isotope js-->
        <script src="/static/js/isotope.pkgd.min.js"></script>
        <!--Magnific Popup js-->
        <script src="/static/js/jquery.magnific-popup.min.js"></script>
        <!--Site Main js-->
        <script src="/static/js/main.js"></script>